@tailwind base;
@tailwind components;
@tailwind utilities;

body:has(.dark) {
	@apply bg-primary text-white;
}

body:has(.light) {
	@apply bg-white text-primary;
}

main > section {
	padding: 3.75rem 0;
}

@layer base {
	html,
	body {
		height: 100%;
		min-height: 100vh;
	}
}
