@tailwind base;
@tailwind components;
@tailwind utilities;

html.dark body {
	@apply bg-primary text-white;
}

html.light body {
	@apply bg-white text-primary;
}

main > section {
	padding-block: clamp(2rem, 5dvw, 3.75rem);
}

@layer base {
	html,
	body {
		height: 100%;
		min-height: 100vh;
	}
}
